@{
    var admin = Session["ADMINISTRATOR"] as Archery.Models.Administrator;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Backoffice</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Archery", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Armes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("create", "weapons")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "weapons")">Lister</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tournois <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("create", "tournaments")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "tournaments")">Lister</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" style="color:#ffffff">
                    <li>
                        <p>Bonjour @admin.FirstName @admin.LastName</p>

                    </li>
                    <li>
                        <a id="logout" href="@Url.Action("Logout", "authentication")"><i class="glyphicon glyphicon-log-out"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>


    <div class="container body-content" style="margin-top:50px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.globalize.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("SectionScripts", false)
    <script>
        const btn = document.querySelector('#logout');
        btn.addEventListener('click', ev => {
            if (confirm("Voulez-vous vous déconnecter?") == false) {
                ev.preventDefault();
            }
        });

        /*$(function () {
            $("#logout").click(function () {
                if (confirm("Voulez-vous vous déconnecter?") == false)
                {
                    return false;
                }
            });
        });*/
    </script>
</body>
</html>