@model IEnumerable<Archery.Models.Weapon>

@{
    ViewBag.Title = "Liste des armes";
}

<h2>Liste des armes</h2>

<p>
    @Html.ActionLink("Ajouter une arme", "Create", null, new { @class="btn btn-info" })
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
        @Html.ActionLink("Details", "Details", new { id=item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
            <a href="@Url.Action("edit", new { id=item.ID })"><i class="glyphicon glyphicon-edit text-warning"></i></a>
            <a href="@Url.Action("Details", new { id=item.ID })"><i class="glyphicon glyphicon-search"></i></a>
            <a href="@Url.Action("delete", new { id=item.ID })"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
